[Unit]
Description=Object Programming Runtime
Requires=network.target
After=network.target

[Service]
DynamicUser=True
Type=fork
User=bart
Group=bart
PIDFile=opr.pid
WorkingDirectory=/home/bart/.opr
ExecStart=/home/bart/.local/pipx/venvs/opr/bin/opr mod=irc,rss,mdl -d
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
